.container{
display: flex;
flex-direction: row;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 300px;
margin-left: 300px;
}

.col-1{
background-color: rgb(253, 165, 2);
padding: 20px;

}
.col-2{
    background-color:rgb(91, 92, 140);
padding: 20px;}

.col-3{
    background-color: rgb(54, 83, 54);
    padding: 20px;

}
.button{
    padding: 6px;
    border-radius: 20px;
border-style: none;
padding-left: 15px;
padding-right: 15px;
}
@media (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
}